a{
    color: #B3B3B3;
}
body {
    background-color: #000000;
    font-family: var(--font-dm-sans);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 350px;
}
.sidebar-navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}
.logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.logo img{
    width: 80px;
}
.inicio a:hover{
    color: #FFFFFF;
}
.buscar a:hover{
    color: #FFFFFF;
}
.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}
.sidebar nav ul li{
    padding: 10px 0px;
}
.sidebar nav ul li a{
    color: #B3B3B3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

/* INICIO */

/* BIBLIOTECA */

.biblioteca{
    border-radius: 8px;
    color: #B3B3B3;
    background-color: #121212;
    padding: 16px;
}
.biblioteca-cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.biblioteca-cabeçalho a:hover{
    color: white;
}
.biblioteca-titulo{
    font-weight: bold;
}
.biblioteca-titulo a{
    text-decoration: none;
}
.playlist{
    background-color: #222222;
    color: #B3B3B3;
    margin-top: 20px;
    padding: 2px 0 16px 16px;
    border-radius: 8px;
}
.playlist h2{
    font-weight: bold;
}
.playlist-botao{
    padding: 12px 0 12px 0;
}
.playlist-botao a{
    background-color: white;
    padding: 12px;
    border-radius: 19px;
    color: #121212;
    text-decoration: none;
}
.podcast{
    background-color: #222222;
    color: #B3B3B3;
    border-radius: 8px;
    margin-top: 20px;
    padding: 2px 0 16px 16px;
}
.podcast h2{
    font-weight: bold;
}
.podcast-botao{
    padding: 12px 0;
}
.podcast-botao a{
    background-color: white;
    color: #121212;
    padding: 12px;
    border-radius: 19px;
    text-decoration: none;
}
.podcast-botao a:hover{
    background-color: #121212;
    color: #FFFFFF;
}
.cookies{
    margin: 25px 0 25px 0;
    font-size: small;
}
.cookies:hover{
    text-decoration: underline;
}
.lang{
    border: solid 1px #B3B3B3;
    border-radius: 18px;
    padding: 9px;
    text-align: center;
    cursor: pointer;
}
.lang a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: transparent;
}
.playlist-botao a:hover{
    background-color: #121212;
    color: #FFFFFF;
}
.lang:hover{
    background-color: #06970d;
}
/* BIBLIOTECA */
/* FOOTER */
.container{
    background-color: rgb(218, 55, 190);
    color: #fff;
    width: 100%;
    padding: 16px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-text{
    display: flex;
    flex-direction: column;
}
.footer-text .text-title{
    font-weight: bold;
}
.footer-button{
    padding: 10px 25px 0 0;
}
.footer-button a{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 25px;
}